
.jumbotron{

	position: relative;
    background: #000 url("protest.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    font-family: Montserrat, sans-serif;
    background-color: black;  

}


.navbar {
    background-color: #303030;
    border: 0;
    font-size: 12.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 0;
    border-radius: 0;
     
    
} 

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar ul li{
    padding-left: 50px;
    
}

.navbar li a:hover:not(.active) {
    background-color: #E7E7E7;
    color: #363636;
}

.navbar li a {
    
    color: white !important;
    
}

.navbar li a:hover {
    
    color: black !important;
    
}

.jumbotron img#versi{  
	top: 8px;
    left: 16px;
    max-width: 500px;
    
}

.jumbotron h2{  
	padding: 10px;
}

body {
	font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    padding-top: 10px;
    overflow-x: hidden;
    
    
}

.glyphicon {
    font-size: 80px;
    color: #3d005b;
}

#what {
	text-align: center;
}

 footer {
      background-color: #555;
      padding:10px;
      color: white;
      
    }

body > .row {
    margin-left: 0px;
    margin-right: 0px;
}

  
h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
}
  
h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #4F4F4F;
    font-weight: 600;
    margin-bottom: 30px;
}
  
h4 {
    font-size: 17px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

h5 {
    font-size: 16px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 800;
}

h6 {
	font-size: 24px;
    text-transform: uppercase;
    color: #4F4F4F;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

p {
	font-size: 15px;
	text-align: justify;
}



.bg-grey {
    background-color: #f9edff;
}

#user-info {  
    width: 530px;
    margin: auto;
    text-align: justify;
}

.btt {
    
    transform: rotate(270deg);
	transform-origin: left top 0;
    position: fixed;
    bottom: 400px;
    right: -82px;
    background-color: #f6f6f6;
    border: 1px grey solid;
    padding: 5px 5px 0 5px;
    border-radius: 5px 5px 0 0;
    display: none;
    
}

.btt p {
    
    font-size: 20px;
    
}

.btt:hover {
    
    background-color: white;
    border: 1px black solid;
    
}

.btt a:hover {
    
    text-decoration: none;
    
}

.info {   
    width: 520px;   
}

.info input,
.info textarea {
    
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #cacaca;
    
}


.bottom {
    
    position: relative;
    top: 75px; 
    
}

.left {
    
    float:left;
    
}

.right {
    
    float:right; 
    
}

.clear {
    
    clear: both;
    
}

#copyright {
    
    padding-top: 30px;
    float: left;
    
}

.content {
    width: 1000px;
    margin: auto;  
}

.content h3 { 
    width: 195px;
    margin: auto;  
}


.panel-body{
 	text-align: center;
 	padding: 0;
 	min-size: 100px;
 
 
 }

 .panel-footer{
    text-align: center;
    
 }
 
img{
	
	width: 100%;

}

.button {
    color: white;
    border: 1px solid transparent;
    padding: 5px 10px;
	background-color: #2377cb;
    position: relative;
    top: 80px;
}

.button:hover {
	background-color: #15487A;
}

.p1{
	text-align: center;
	
	}

#about-container {

	padding-bottom: 40px;

}